<ion-view view-title="Fakten">
    <ion-content>
        <div class="card" ng-repeat="fact in facts">
            <ion-item class="item-stable" ng-click="toggleGroup(fact)" ng-class="{active: isGroupShown(fact)}">
                <i class="icon" ng-class="isGroupShown(fact)"></i>&nbsp;{{fact.titel}}
            </ion-item>
            <ion-item ng-repeat="inhalt in fact.inhalt" class="item-accordion item-text-wrap" ng-show="isGroupShown(fact)">{{fact.beschreibung}}</ion-item>
        </div>
    </ion-content>
</ion-view>
