<ion-view view-title="Modell">
  <ion-content>

    <!--<ion-side-menus>-->

      <!--<fader></fader>-->

      <!--<ion-side-menu-content style="width:70%;">-->
        <!--<ion-header-bar class="bar-balanced">-->
         <!--<h1 class="title"><ion-icon class="ion-cloud"></i>&nbsp&nbsp&nbsp&nbsp&nbspDaten</h1>-->
        <!--</ion-header-bar>-->
        <!--<ion-content class="has-footer has-wallet">-->

          <!--<ion-list>-->
            <!--<ion-item ng-click="getChart('EmissionPerGdp')">-->
              <!--Emissions Per Gdp-->
            <!--</ion-item>-->
            <!--<ion-item ng-click="getChart('Gdp')">-->
              <!--Gdp-->
            <!--</ion-item>-->
            <!--<ion-item ng-click="getChart('GdpGrowth')">-->
              <!--Gdp growth-->
            <!--</ion-item>-->
            <!--<ion-item ng-click="getChart('UnempHouse')">-->
              <!--Unemployment households-->
            <!--</ion-item>-->
            <!--<ion-item ng-click="getChart('Cpi')">-->
            <!--Consumer Price Index-->
            <!--</ion-item>-->
            <!--<ion-item ng-click="getChart('Profit')">-->
            <!--Profit Rate-->
            <!--</ion-item>-->
            <!--&lt;!&ndash;<ion-checkbox ng-model="isChecked" class="item item-text-wrap"> Production Coefficient</ion-checkbox>&ndash;&gt;-->
            <!--&lt;!&ndash;<ion-checkbox ng-model="isChecked" class="item item-text-wrap">Emission Coefficient</ion-checkbox>&ndash;&gt;-->
            <!--&lt;!&ndash;<ion-checkbox ng-model="isChecked" class="item item-text-wrap">Emissions per (nom.) GDP</ion-checkbox>&ndash;&gt;-->
            <!--&lt;!&ndash;<ion-checkbox ng-model="isChecked" class="item item-text-wrap">Unemployment Rate</ion-checkbox>&ndash;&gt;-->
            <!--&lt;!&ndash;<ion-checkbox ng-model="isChecked" class="item item-text-wrap">Wealth Capitalists vs. Rest</ion-checkbox>&ndash;&gt;-->
            <!--&lt;!&ndash;<ion-checkbox ng-model="isChecked" class="item item-text-wrap">CPI</ion-checkbox>&ndash;&gt;-->
            <!--&lt;!&ndash;<ion-checkbox ng-model="isChecked" class="item item-text-wrap">Want-Need-Ratio</ion-checkbox>&ndash;&gt;-->
            <!--&lt;!&ndash;<ion-checkbox ng-model="isChecked" class="item item-text-wrap">Profit-Rate</ion-checkbox>&ndash;&gt;-->
          <!--</ion-list>-->
        <!--</ion-content>-->
        <!--<ion-footer-bar class="bar-energized premium-bar">-->
             <!--<h1 class="title">Export</h1>-->
        <!--</ion-footer-bar>-->
      <!--</ion-side-menu-content>-->

      <!--<ion-side-menu side="right" width="{{width()}}" can-drag-menu>-->

        <!--<ion-content class="padding">-->
          <!--<div text-align="left: 30px">-->
            <!--&lt;!&ndash;On a small viewport (less than 768px window width), the left menu will be hidden, but can be shown by swiping left to right, or toggling the button in the top left of the header. On a large viewport (greater than or equal to 768px), the left menu will stay open.&ndash;&gt;-->
            <!--&lt;!&ndash;{{width()}}&ndash;&gt;-->
               <!--<ion-toggle id="tax-toggle" toggle-class="toggle-balanced">Carbon Emission Tax</ion-toggle>-->
               <!--<ion-toggle id="rd-toggle" toggle-class="toggle-balanced">Research&Development</ion-toggle>-->
         <!--</div>-->
         <!--<button ng-click="showPopup()" class="button button-block button-balanced padding-vertical icon-right ion-ios-information-outline" href="#/tab/help">-->
            <!--What is that? Help!-->
         <!--</button>-->

            <!--&lt;!&ndash;<ion-scroll class="wide-as-needed" zooming = "true" direction = "x">&ndash;&gt;-->
              <!--&lt;!&ndash;<div class="scroll-container">&ndash;&gt;-->
                <!--<canvas id="myChart" width="{{width()}}" height="{{height()/2}}"></canvas>-->
              <!--&lt;!&ndash;</div>&ndash;&gt;-->
            <!--&lt;!&ndash;</ion-scroll>&ndash;&gt;-->




          <!--&lt;!&ndash;<div class="chartWrapper">&ndash;&gt;-->
            <!--&lt;!&ndash;<div class="chartAreaWrapper">&ndash;&gt;-->
              <!--&lt;!&ndash;<canvas id="myChart" height="200" width="{{width}}"></canvas>&ndash;&gt;-->
            <!--&lt;!&ndash;</div>&ndash;&gt;-->
            <!--&lt;!&ndash;<canvas id="myChartAxis" height="200" width="0"></canvas>&ndash;&gt;-->
          <!--&lt;!&ndash;</div>&ndash;&gt;-->

        <!--</ion-content>-->
      <!--</ion-side-menu>-->

    <!--</ion-side-menus>-->


    <ion-side-menus>

      <ion-side-menu side="left">
        <ion-header-bar class="bar-balanced">
        <h1 class="title"><ion-icon class="ion-cloud"></i>&nbsp&nbsp&nbsp&nbsp&nbspDaten</h1>
        </ion-header-bar>
        <ion-content class="has-footer has-wallet">
        <ion-list>
          <ion-item ng-click="getChart('Emissions Per Gdp')">
            Emissions Per Gdp
          </ion-item>
          <ion-item ng-click="getChart('Gdp')">
            Gdp
          </ion-item>
          <ion-item ng-click="getChart('Gdp Growth')">
            Gdp growth
          </ion-item>
          <ion-item ng-click="getChart('Unemployment Households')">
            Unemployment households
          </ion-item>
          <ion-item ng-click="getChart('Cpi')">
            Consumer Price Index
          </ion-item>
          <ion-item ng-click="getChart('Profit Rate')">
            Profit Rate
          </ion-item>
        </ion-list>
          <ion-footer-bar class="bar-energized premium-bar">
          <h1 class="title">Export</h1>
          </ion-footer-bar>
      </ion-side-menu>

      <ion-side-menu-content id="model-side-menu-content">
        <div style="margin-top: 4px; padding: 2%;" >
        <button ng-click="showPopup()"  class="button button-outline button-block button-balanced padding-vertical ion-ios-pulse icon-right" href="#/tab/help">
          What is that? Help!
        </button>
        </div>
        <h5 style="text-align: center">{{getGraphName()}}</h5>
        <div id="graph-container">
          <canvas id="myChart" width="{{width()-130}}" height="{{height()/2}}"></canvas>
        </div>
        <!--width="{{width()}}" height="{{height()/2}}"-->

      </ion-side-menu-content>


    </ion-side-menus>





  </ion-content>
</ion-view>
