<ion-view view-title="Modell">
  <ion-content>

    <ion-side-menus>

      <fader></fader>

      <ion-side-menu-content style="width:70%;">
        <ion-header-bar class="bar-balanced">
         <h1 class="title"><ion-icon class="ion-cloud"></i>&nbsp&nbsp&nbsp&nbsp&nbspParamter</h1>
        </ion-header-bar>
        <ion-content class="has-footer has-wallet">
          <ion-list>
            <ion-checkbox ng-model="isChecked" class="item item-text-wrap"> Production Coefficient</ion-checkbox>
            <ion-checkbox ng-model="isChecked" class="item item-text-wrap">Emission Coefficient</ion-checkbox>
            <ion-checkbox ng-model="isChecked" class="item item-text-wrap">Emissions per (nom.) GDP</ion-checkbox>
            <ion-checkbox ng-model="isChecked" class="item item-text-wrap">Unemployment Rate</ion-checkbox>
            <ion-checkbox ng-model="isChecked" class="item item-text-wrap">Wealth Capitalists vs. Rest</ion-checkbox>
            <ion-checkbox ng-model="isChecked" class="item item-text-wrap">CPI</ion-checkbox>
            <ion-checkbox ng-model="isChecked" class="item item-text-wrap">Want-Need-Ratio</ion-checkbox>
            <ion-checkbox ng-model="isChecked" class="item item-text-wrap">Profit-Rate</ion-checkbox>
          </ion-list>
        </ion-content>
        <ion-footer-bar class="bar-energized premium-bar">
          <h1 class="title">Export</h1>
        </ion-footer-bar>
      </ion-side-menu-content>

      <ion-side-menu side="right" width="{{width()}}" can-drag-menu>

        <ion-content class="padding">
          <div text-align="left: 30px">
            On a small viewport (less than 768px window width), the left menu will be hidden, but can be shown by swiping left to right, or toggling the button in the top left of the header. On a large viewport (greater than or equal to 768px), the left menu will stay open.
            {{width()}}
         </div>

        </ion-content>
      </ion-side-menu>

    </ion-side-menus>

  </ion-content>
</ion-view>
